pkgbase = linux-firmware-joshua-git
	pkgdesc = Firmware files for Linux - RK3588 specific firmware, with patches of joshua
	pkgver = 20240129.6831783.20240115.9b6d0b08
	pkgrel = 1
	url = https://github.com/Joshua-Riek/firmware
	arch = any
	license = GPL2
	license = GPL3
	license = custom
	makedepends = git
	depends = linux-firmware
	conflicts = linux-firmware-joshua
	replaces = linux-firmware-joshua
	options = !strip
	source = git+https://github.com/Joshua-Riek/firmware.git
	sha256sums = SKIP

pkgname = linux-firmware-joshua-git
